:root {
    /* Primary */
    --clr-sliderbar-full: hsl(174, 77%, 80%);
    --clr-slider-bg: hsl(174, 86%, 45%);
    --clr-discount-bg: hsl(14, 92%, 95%);
    --clr-discount-text: hsl(15, 100%, 70%);
    --clr-cta-text: hsl(226, 100%, 87%);

    /* Neutral */
    --clr-pricing-bg: hsl (0, 0%, 100%);
    --clr-main-bg: hsl(230, 100%, 99%);
    --clr-sliderbar-empty: hsl(224, 65%, 95%);
    --clr-toggle-bg: hsl(223, 50%, 87%);
    --clr-text: hsl(225, 20%, 60%);
    --clr-text-cta-bg: hsl(227, 35%, 25%);

    --ff-primary: 'Manrope', sans-serif;
    --fs-base: 0.9375rem;
    --fw-bold: 600;
    --fw-xbold: 800;
}